/*
 * General
 */

.button.is-info.is-inverted.is-outlined:hover {
    color: black;
}

.hero-body hr {
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

/*
 * Header
 */

.hero-head {
    padding: 0 5% 0 5%;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

@media screen and (max-width: 768px) {
    .hero-head {
        padding: 0;
        border-bottom: blue;
    }
}

.hero-head .navbar a.navbar-item.is-active {
    color: white;
    background-color: transparent;
}

.navbar-item, .hero.is-primary a.navbar-item {
    color: rgba(255,255,255,.7);
}

.hero.is-primary a.navbar-item:hover {
    color: white;
}

.navbar.is-transparent {
    background-color: transparent;
}

.hero-head .navbar .navbar-item,
.hero-head .navbar .navbar-item span {
    font-size: 1.1rem;
}

.hero-head .navbar-brand .navbar-item {
    font-size: 1.4rem;
    font-weight: bold;
}

.header-image {
    background: url('resources/images/about-bg1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-item span.icon {
    margin-right: 8px;
}

/*
 * Body
 */

.hero-body .title.is-1 {
    font-size: 4.3rem;
}

/*
 * Icons
 */

.fa-stack-overflow:hover,
.button .fa-stack-overflow {
    color: #f48024;
}

.fa-gitlab:hover,
.button .fa-gitlab {
    color: #e24329;
}

.navbar-item:hover .fa-medium,
.button .fa-medium {
    color: #0be370;
}

.navbar-item:hover .fa-github,
.button .fa-github {
    color: white;
}

.navbar-item:hover .fa-twitter,
.button .fa-twitter {
    color: #1da1f2;
}

.navbar-item:hover .fa-linkedin,
.button .fa-linkedin {
    color: #0897e2;
}

.subtitle a {
    margin-bottom: 5px;
}

.navbar-burger.is-active span {
    background-color: #4a4a4a;
}

.hero.is-primary {
    background-color: #7e7e5a;
}